In [1]:
print('Hello World')

Hello World

In [3]:
x=5
y=6.7

In [5]:
print("Nilai variabel x = " + str(x))
print("Nilai variabel y = " + str (y))
print("Nilai variabel x = ", x)
print("Nilai variabel y = ", y)

Nilai variabel x = 5
Nilai variabel y = 6.7
Nilai variabel x =  5
Nilai variabel y =  6.7

In [7]:
z1 = x + y
z2 = x - y
z3 = x * y
z4 = x / y

print("Nilai variable z1 = ",z1)
print("Nilai variable z2 = ",z2)
print("Nilai variable z3 = ",z3)
print("Nilai variable z4 = ",z4)

Nilai variable z1 =  11.7
Nilai variable z2 =  -1.7000000000000002
Nilai variable z3 =  33.5
Nilai variable z4 =  0.7462686567164178

In [9]:
a = 5
b = 2
c1 = a ** b
c2 = a % b

print("Nilai c1 adalah ",c1)
print("Nilai c2 adalah ",c2)

Nilai c1 adalah  25
Nilai c2 adalah  1

In [1]:
str = 'Belajar pemrograman Python'
print(str)

Belajar pemrograman Python

In [10]:
import sys
print(sys.version)

3.12.1 (tags/v3.12.1:2305ca5, Dec  7 2023, 22:03:25) [MSC v.1937 64 bit (AMD64)]

In [2]:
if 5>2: 
    print("Lima lebih besar dari dua")

Lima lebih besar dari dua

In [3]:
if 5>2:
print('Lime lebih besar dari dua!')

IndentationError: expected an indented block after 'if' statement on line 1 (3775000049.py, line 2)

In [4]:
#Ini komentar (comment)
print("Hello, World!")

print("Hello, World!")#Ini komentar (comment)

Hello, World!
Hello, World!

In [12]:
x = 5
y = "John"
z = 3.14
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
x1 = "John"
# kutip ' ' dan " " sama
x2 = 'John'
print(x1)
print(x2)

In [13]:
# case sensitive
a = 4
A = "Empat"
print(a)
print(A)

4
Empat

In [ ]:
#penamaan variable yang diperbolehkan

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
#penamaan variable yang tidak diperbolehkan

2myvar = "John"
my-var = "John"
my var = "John"

In [14]:
x, y, z = 'Orange', 'Banana', 'Cherry'
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [15]:
x = y = z = 'Orange'
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [20]:
#list
fruits = ['apple', 'banana', 'cherry']
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
number = [1,2,3,4,5]
print(number)

In [16]:
mixed = [1, 'satu', 2, 'dua', 3, 'tiga']
print(mixed)

[1, 'satu', 2, 'dua', 3, 'tiga']

In [21]:
x,y,z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [23]:
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[-2])
print(fruits[-1])
print(fruits[-3])

apple
banana
cherry
banana
cherry
apple

In [5]:
fruits = ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

In [25]:
fruits=['apple', 'banana', 'cherry']
fruits.append('orange')
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [6]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [7]:
fruits = ["apple", "banana", "cherry"]
fruits[1] = "blackcurrant"
print(fruits)

['apple', 'blackcurrant', 'cherry']

In [8]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
fruits[1:3] = ["blackcurrant", "watermelon"] #3 is excluded
print(fruits)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [9]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [10]:
x = "awesome"
print("Python is ", x)

Python is  awesome

In [11]:
x = "Python is "
y = "awesome"
z = x+y
print(z)

Python is awesome

In [12]:
x = 5
y = 10
print(x+y)

15

In [13]:
x = 5
y = "Lima"
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
x = ('apple', 'banana', 'cherry')
print(x)

('apple', 'banana', 'cherry')

In [16]:
x = range(6)
print(x)

range(0, 6)

In [ ]:
x = {"name" : "John", "age" : 36}
print(x)

In [17]:
x = {"apple", "banana", "cherry"}
print(x)

{'apple', 'cherry', 'banana'}

In [18]:
x = frozenset({"apple", "banana", "cherry"})
print(x)

frozenset({'apple', 'cherry', 'banana'})

In [19]:
x = True
print(x)

True

In [20]:
x = b"Hello"
print(x)

b'Hello'

In [21]:
x = bytearray(5)
print(x)

bytearray(b'\x00\x00\x00\x00\x00')

In [22]:
x = memoryview(bytes(5))
print(x)

<memory at 0x000002745D6EBD00>

In [23]:
x = int(1)
y = int(2.8)
z = int("3")
print('x = ', x)
print('y = ', y)
print('z = ', z)

x =  1
y =  2
z =  3

In [24]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [25]:
#Mengiris String
b = "Selamat makan"
print(b[2:5])

lam

In [26]:
b = "Selamat makan"
print(b[:5])

Selam

In [27]:
fruits = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
fruits.extend(tropical)
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [28]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [29]:
a = 33
b = 200
if b>a:
    print("b is greater than a")

b is greater than a

In [30]:
a = 33
b = 33
if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")

a and b are equal

In [31]:
a = 200
b = 33
if b>a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [32]:
a = 200
b = 33
c = 500
if a>b and c>a:
    print("Both conditions are True")

Both conditions are True

In [33]:
a = 200
b = 33
c = 500
if a>b or a>c:
    print("At least of the conditions is True")

At least of the conditions is True

In [34]:
x = 41

if x>10:
    print("Above ten, ")
    if x>20:
        print("and also aboce 20!")
    else:
        print("but not above 20.")

Above ten,
and also aboce 20!

In [35]:
i = 1
while i<6:
    print(i)
    i += 1

1
2
3
4
5

In [36]:
i = 1
while i<6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [37]:
i = 0
while i<6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [38]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [39]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [40]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [41]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [42]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [43]:
for x in range(2,6):
    print(x)

2
3
4
5

In [44]:
for x in range(2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [45]:
#nested loops
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [46]:
#defining functions
def my_function():
    print("Hello from a function")

In [47]:
#calling the functions
my_function()

Hello from a function

In [48]:
#Arguments
def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [49]:
#return values
def my_function(x):
    return 5*x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45