In [17]:
import pandas as pd

In [18]:
pat = pd.read_excel("try2.xlsx", sheet_name="Sheet1");

In [19]:
pat.head()

,No,Nama Lengkap,Alamat Lengkap,Jenis Kelamin,Telepon,Nomor KTP,Riwayat Penyakit,Dokter,Date
0,1,Amanda Cahaya,"Jl. Gatot Subroto No. 6, Kabupaten Kepulauan A...",P,81234567891,320206050491003,Epilepsi,Dr. Kareem Bauer,12 Juni 1991
1,2,Anindita Dewi,"Jl. RE Martadinata No. 37, Kabupaten Karangase...",P,87654321098,320206050491109,Batu Ginjal,Dr. Kaitlyn Maki,7 April 1991
2,3,Nadya Pratiwi,"Jl. Gatot Subroto No. 40, Kabupaten Kepulauan ...",P,89876543210,320206050491001,Anemia,Dr. Lucrecia DeLorenzo,14 Juni 2004
3,4,Dina Maharani Sari,"Jl. Imam Bonjol No. 18, Kabupaten Bone\tWatamp...",P,85432109876,320206050491002,Kanker Hati,Dr. Latoya Kalleg,12 Juni 1996
4,5,Rini Puspita Lestari,"Jl. MT Haryono No. 40, Kabupaten Bemgkulu Teng...",P,82345678901,320206050491004,Demam Berdarah,Dr. Myong Turco,10 Juli 2015

In [20]:
pat['Riwayat Penyakit'][0]

'Epilepsi'

In [21]:
dat = pat
dat = dat.drop(['No'], axis = 1)
dat = dat.drop(['Nama Lengkap'], axis = 1)
dat = dat.drop(['Alamat Lengkap'], axis = 1)
dat = dat.drop(['Jenis Kelamin'], axis = 1)
dat = dat.drop(['Telepon'], axis = 1)
dat = dat.drop(['Nomor KTP'], axis = 1)
dat = dat.drop(['Riwayat Penyakit'], axis = 1)
dat = dat.drop(['Dokter'], axis = 1)
dat = dat.drop(['Date'], axis = 1)

In [22]:
disease = []
doc = []
count = 0

for x in range(0, 100):
    num = 0;
    for y in range(0, len(disease)-1):
        if(pat['Riwayat Penyakit'][x]==disease[y]):
            num = num+1
    if(num==0):
        disease.append(pat['Riwayat Penyakit'][x])
        doc.append(pat['Dokter'][x])
        dat.loc[count, 'Penyakit'] = pat['Riwayat Penyakit'][x]
        dat.loc[count, 'Dokter'] = pat['Dokter'][x]
        count = count+1

In [23]:
dat.tail()

    Penyakit Dokter
96       NaN    NaN
97       NaN    NaN
98       NaN    NaN
99       NaN    NaN
100      NaN    NaN

In [24]:
dat.to_excel('doctortry.xlsx');